@model IEnumerable<NqhK22CNTLesson11.Controllers.NqhCategory>

@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Nqh2210900105Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<a href="/NqhCategories/Create" class="btn btn-primary my-3">Thêm mới</a>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NqhID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NqhCateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NqhStatus)
        </th>
        <th>chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NqhID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NqhCateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NqhStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NqhID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NqhID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NqhID })
        </td>
    </tr>
}

</table>
