
@{
    ViewBag.Title = "NqhCustomerDetail";
}

<h2>Thông tin khách hàng</h2>

<div class="alert alert-danger">
    <p>Mã số: @ViewBag.customer.CustomerId</p>
    <p>Họ và tên: @ViewBag.customer.FistName @ViewBag.customer.LastName</p>
    <p>Mã số: @ViewBag.customer.Address</p>
    <p>Mã số: @ViewBag.customer.YearOfbirth</p>
</div>