@model NqhBaiKiemTraGK.Models.NqhKhoa

@{
    ViewBag.Title = "NqhDetails";
}

<h2>Details</h2>

<div>
    <h4>NqhKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NqhTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NqhTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NqhTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NqhTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("NqhEdit", "NqhEdit", new { id = Model.NqhMaKH }) |
    @Html.ActionLink("Back to List", "NqhIndex")
</p>
